{% extends "base/front.html" %}
{% block title %}SaintIC Team Indexer{% endblock %}
{% block article %}
    <article>
        <div class="article_image">
            <a href="#"><img src="/static/img/pic4.jpg" alt="" title=""></a>
        </div>
        <div class="post">
            <h1 class="title">
                <a href="#">Hello World</a>
            </h1>
            <p>文章页</p>
            <a class="read_more" href="#">Continue Reading <i class="read_more_arrow"></i> </a>
        </div>
    </article>
{% endblock %}
{% block script %}
<script language="javascript" type="text/javascript">
    var NavId=null;
    var As=document.getElementById('nav').getElementsByTagName('li');
    NavId = As[0];
    console.log(NavId);
    NavId.className='current';
</script>
{% endblock %}
