{% extends "base/front.html" %}
{% block title %}SaintIC Team Indexer{% endblock %}
{#
{% block nav %}
    <li><a href="#">About</a></li>
    <li><a href="{{ url_for('uc') }}">UserCenter</a></li>
    <li><a href="{{ url_for('login') }}">Login</a></li>
{% endblock %}
#}
{% block article %}
			<article>
				<div class="article_image">
					<a href="#">
						<img src="/static/img/pic4.jpg" alt="" title="">
					</a>
				</div>
				<div class="post">
					<h1 class="title">
						<a href="#">Duis aute irure dolor in henderit in voluptate.</a>
					</h1>
					
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...</p>

					<a class="read_more" href="#">Continue Reading <i class="read_more_arrow"></i> </a>
				</div>
			</article>

			<article>
				<div class="article_image">
					<a href="#">
						<img src="/static/img/pic5.jpg" alt="" title="">
					</a>
				</div>
				<div class="post">
					<h1 class="title">
						<a href="#">Duis aute irure dolor in henderit in voluptate.</a>
					</h1>
					
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...</p>

					<a class="read_more" href="#">Continue Reading <i class="read_more_arrow"></i> </a>
				</div>
			</article>
{% endblock %}
