{% extends "base/frame.html" %}
{% block title %}SaintIC Team User Login Registry Center{% endblock %}
{% block head %}
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <link href="{{ url_for('static', filename='css/ulr/login.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <script src="{{ url_for('static', filename='js/jquery-1.9.0.js') }}" type="text/javascript"></script>
{% endblock %}
{% block body %}
</br>
</br>
<div class="login">
    <h2>SaintIC Team</h2>
    <div class="login-top">
        <form action="/login" method="post" id="UserLoginFormId">
            <p style="color:red; text-align: center" id="error">{% if error %}{{ error }}{% endif %}</p>
            <input type="text" id="username" name="username" required>
            <input type="password" id="password" name="password" required>
            <div class="forgot">
                <a href="#">忘记密码</a>
                <!--<input onclick="postForm('/uc')" type="button" value="登录">-->
                <input type="submit" value="登录">
            </div>
        </form>
        <!--
        <script type="text/javascript">
            function postForm(nextUrl) {
                $.ajax({
                    url: 'https://api.saintic.com/user?action=log',
                    method: 'POST',
                    datatype: 'json',
                    data: $('#UserLoginFormId').serialize(),
                    success: function(res) {
                        console.log(res);
                        //var username = res.data.username;
                        //var uid = res.data.uid;
                        if (res.code == 0){
                            window.location.href=nextUrl;
                            //document.cookie = "cookieId=" + username + uid;
                        }
                    },
                    error: function(error){
                        document.getElementById("error").innerHTML("invalid username or password");
                    }
                });
            };
        </script>
        -->
    </div>
    <div class="login-bottom">
        <!--<h3>新用户 &nbsp;<a href="#">注册</a>&nbsp 这里</h3>-->
        <h3><a href="/">返回首页</a></h3>
    </div>
</div>
{% endblock %}
{% block script %}
<script language="javascript" type="text/javascript">
    var NavId=null;
    var As=document.getElementById('nav').getElementsByTagName('li');
    NavId = As[2];
    console.log(NavId);
    NavId.className='current';
</script>
{% endblock %}

