{% extends "base/frame.html" %}
{% block title %}SaintIC Team User Login Registry Center{% endblock %}
{% block head %}
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <link href="{{ url_for('static', filename='css/ulr/login.css') }}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}
{% block body %}
</br>
</br>
<div class="login">
    <h2>SaintIC Team</h2>
    <div class="login-top">
        <form action="" method="post" id="UserLoginFormId">
            <p style="color:red; text-align: center" id="error"></p>
            <input type="text" id="username" name="username" required>
            <input type="password" id="password" name="password" required>
            <div class="forgot">
                <a href="#">忘记密码</a>
                <input onclick=postForm("{% if g.refererUrl %}{{ g.refererUrl }}{% else %}{{ url_for('index') }}{% endif %}") type="button" value="登录">
            </div>
        </form>
        <script>
            function postForm(nextUrl) {
                $.ajax({
                    url: '{{ url_for("auth") }}',
                    method: 'POST',
                    datatype: 'json',
                    data: $('#UserLoginFormId').serialize(),
                    success: function(res) {
                        console.log(res);
                        if (res.loggedIn == true){
                            window.location.href=nextUrl;
                        }
                    },
                    error: function(error){
                        console.log(error)
                        document.getElementById("error").innerHTML(error.error);
                    }
                });
            };
        </script>
    </div>
    <div class="login-bottom">
        <!--<h3>新用户 &nbsp;<a href="#">注册</a>&nbsp 这里</h3>-->
        <h3><a href="{{ url_for('index') }}">返回首页</a></h3>
    </div>
</div>
{% endblock %}
{% block script %}
<script language="javascript" type="text/javascript">
    var NavId=null;
    var As=document.getElementById('nav').getElementsByTagName('li');
    NavId = As[2];
    NavId.className='current';
</script>
{% endblock %}

