
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block
}

audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

a {
	background-color: transparent
}

a:active,a:hover {
	outline: 0
}

h1 {
	margin: .67em 0;
	font-size: 2em
}

img {
	border: 0
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,kbd,pre,samp {
	font-size: 1em;
	font-family: monospace
}

body,html {
	font-size: 62.5%
}

body {
	font: 1pc "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1
}

color alpha,h1,h2,h3,h4 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility
}

h1,h2,h3,h4 {
	color: #222;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

h1 {
	color: #222;
	letter-spacing: -1px;
	font-weight: 700;
	font-size: 3rem
}

h2 {
	font-size: 2.2rem
}

h3 {
	font-size: 2rem
}

h4 {
	font-size: 1.6rem
}

a {
	color: indigo;
	text-decoration: none
}

p {
	margin-bottom: 20px;
	color: #666;
	letter-spacing: .4px;
	font-weight: 300;
	line-height: 1.7
}

@media only screen and (max-width:400px) {
	p {
		letter-spacing: .2px
	}
}

strong {
	color: #000;
	font-weight: 400
}

ol li,ul li {
	color: #666;
	font-weight: 300;
	line-height: 2.4rem
}

iframe,img,pre {
	max-width: 100%
}

img,pre {
	border-radius: 4px
}

blockquote {
	padding-left: 15px;
	border-left: 3px solid #eee
}

hr {
	margin: 40px auto;
	width: 100%;
	height: 1px;
	border: none;
	background: #eee
}

code,tt {
	padding: 1px 3px;
	border-radius: 2px;
	white-space: pre-wrap;
	font-size: 9pt;
	line-height: 20px
}

code,pre,tt {
	background: #fff;
	font-family: Consolas,Liberation Mono,Menlo,Courier,monospace
}

pre {
	overflow: auto;
	box-sizing: border-box;
	margin: 0 0 1.75em;
	padding: 5px 10px;
	width: 100%;
	border: 1px solid #ededed;
	border-radius: 2px;
	white-space: pre;
	font-size: 1.2rem;
	line-height: 2rem
}

.site-wrapper {
	margin: 0 auto;
	width: 96%;
	height: 100%;
	max-width: 35pc
}

@media only screen and (max-width:400px) {
	.site-wrapper {
		width: 88%
	}
}

@media only screen and (min-width:400px) and (max-width:1050px) {
	.site-wrapper {
		width: 88%
	}
}

.icon {
	display: inline-block;
	width: 17px;
	height: 17px;
	color: #000;
	fill: #000
}

.blog,.home {
	margin-top: 125px
}

.blog .home__header,.home .home__header {
	display: block;
	margin: 0 auto;
	text-align: center
}

.blog .home__header img,.home .home__header img {
	margin-bottom: 25px;
	width: 125px;
	border-radius: 100%
}

.blog .home__header h1,.blog .home__header h2,.home .home__header h1,.home .home__header h2 {
	margin: 0
}

.blog .home__header h1,.home .home__header h1 {
	margin-bottom: 13px;
	font-size: 4rem
}

.blog .home__header h2,.home .home__header h2 {
	margin: 0 auto 30px;
	width: 70%;
	color: #aaa;
	font-weight: 300;
	font-style: normal;
	font-size: 1.85rem
}

.blog .home__header h2 a,.home .home__header h2 a {
	font-weight: 200
}

.blog .home__header .home__header-social,.home .home__header .home__header-social {
	margin-top: 20px
}

.blog .home__header .home__header-social a,.home .home__header .home__header-social a {
	margin: 0 3px
}

.blog .home__header .home__header-social a:hover svg,.home .home__header .home__header-social a:hover svg {
	fill: indigo
}

.blog .home__header .home__header-social svg,.home .home__header .home__header-social svg {
	-webkit-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s
}

.blog .home__sections,.home .home__sections {
	position: relative;
	margin-top: 30px;
	padding-top: 40px;
	border-top: 1px solid #ededed
}

.blog .home__sections:before,.home .home__sections:before {
	position: absolute;
	top: -5px;
	left: 50%;
	display: block;
	margin-left: -5px;
	width: 7px;
	height: 7px;
	border: #ededed 1px solid;
	border-radius: 3px;
	background: #fff;
	box-shadow: #fff 0 0 0 5px;
	content: " "
}

.blog .home__sections .home__sections-single,.home .home__sections .home__sections-single {
	display: block;
	margin: 0 auto;
	width: 95%
}

.blog .home__sections .home__sections-single:hover h3,.home .home__sections .home__sections-single:hover h3 {
	color: indigo
}

.blog .home__sections .home__sections-single:hover aside,.home .home__sections .home__sections-single:hover aside {
	color: #666
}

.blog .home__sections .home__sections-single a,.home .home__sections .home__sections-single a {
	display: block;
	padding: 20px 0;
	width: 100%;
	height: 100%
}

.blog .home__sections .home__sections-single h3,.home .home__sections .home__sections-single h3 {
	margin: 0;
	width: 75%;
	font-weight: 500;
	-webkit-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s
}

.blog .home__sections .home__sections-single aside,.home .home__sections .home__sections-single aside {
	position: relative;
	top: 2px;
	float: right;
	margin: 0;
	width: 25%;
	color: #aaa;
	text-align: right;
	font-weight: 300;
	-webkit-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s
}

.page {
	margin-top: 125px
}

.page h1 {
	margin-bottom: 6rem;
	text-align: center
}

.page .home__sections {
	margin-top: 30px;
	padding-top: 50px;
	border-top: 1px solid #ededed
}

.page .home__sections .home__sections-single {
	display: block;
	margin: 0 auto;
	width: 95%;
	border-bottom: 1px solid #ededed
}

.page .home__sections .home__sections-single a {
	display: block;
	padding: 30px 0;
	width: 100%;
	height: 100%
}

.page .home__sections .home__sections-single:last-child {
	border: 0
}

.page .home__sections .home__sections-single h3 {
	margin: 0;
	width: 75%;
	font-weight: 500
}

.page .home__sections .home__sections-single aside {
	position: relative;
	top: 0;
	float: right;
	margin: 0;
	width: 25%;
	color: #aaa;
	font-weight: 300
}

.post {
	margin-top: 125px
}

.post h1.post__title {
	margin-bottom: 3rem;
	text-align: center
}

.post h2,.post h3,.post h4 {
	margin-top: 40px
}

.post span time {
	display: block;
	margin-bottom: 6rem;
	color: #aaa;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 1.4rem;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility
}

.nav {
	position: absolute;
	top: 0;
	right: 0
}

.nav ul {
	margin: 0;
	padding: 0 13px;
	list-style: none
}

.nav ul li,.nav ul li a {
	display: inline-block
}

.nav ul li a {
	padding: 20px 10px;
	font-weight: 300;
	font-size: 1.4rem
}

.home__header-nav {
	margin-top: 40px;
	text-align: center
}

.home__header-nav ul {
	margin: 0;
	padding: 0;
	//width: 600px;
	list-style: none
}

.home__header-nav ul li {
	display: inline-block
}

.home__header-nav ul li a {
	display: inline-block;
	margin: 0;
	padding: 7px 15px;
	width: auto;
	border-radius: 4%;
	font-weight: 300;
	font-size: 2rem;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}

.home__header-nav ul li a:hover {
	color: #666
}

footer {
	position: relative;
	margin: 40px 0 0;
	padding: 40px 0;
	border-top: 1px solid #ededed;
	color: #aaa;
	text-align: center;
	font-weight: 300;
	font-size: 1.3rem
}

footer:before {
	position: absolute;
	top: -5px;
	left: 50%;
	display: block;
	margin-left: -5px;
	width: 7px;
	height: 7px;
	border: #ededed 1px solid;
	border-radius: 3px;
	background: #fff;
	box-shadow: #fff 0 0 0 5px;
	content: " "
}

footer a {
	display: inline
}

footer a svg {
	position: relative;
	top: 3px;
	width: 15px!important;
	-webkit-transition: ease-in-out all .3s;
	transition: ease-in-out all .3s;
	fill: #aaa!important
}

footer a svg:hover {
	fill: indigo!important
}

.disqus {
	margin: 0 auto;
	padding: 40px 0;
	max-width: 100%
}

.author {
	margin: 9rem auto 0;
	padding: 3rem 0;
	max-width: 100%;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed
}

.author .author__picture {
	width: 90%;
	border-radius: 100%
}

.author .author__bio,.author .author__name {
	display: inline-block;
	width: 60%
}

.author .author__name {
	margin: 6px 0 0;
	font-weight: 500;
	font-size: 1.5rem;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

@media only screen and (max-width:400px) {
	.author .author__name {
		display: block;
		width: 100%
	}
}

@media only screen and (min-width:400px) and (max-width:1050px) {
	.author .author__name {
		display: block;
		width: 100%
	}
}

.author .author__bio {
	margin: 0;
	color: #aaa;
	text-align: justify;
	font-weight: 300;
	font-size: 1.3rem;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	line-height: 1.5
}

@media only screen and (max-width:400px) {
	.author .author__bio {
		display: block;
		width: 100%
	}
}

@media only screen and (min-width:400px) and (max-width:1050px) {
	.author .author__bio {
		display: block;
		width: 100%
	}
}

.author .author__share {
	position: relative;
	top: -10px;
	float: right;
	display: inline;
	width: 40%;
	text-align: right
}

@media only screen and (max-width:400px) {
	.author .author__share {
		top: 0;
		float: none;
		display: block;
		margin-top: 5px;
		width: 100%;
		text-align: left
	}
}

@media only screen and (min-width:400px) and (max-width:1050px) {
	.author .author__share {
		top: 0;
		float: none;
		display: block;
		margin-top: 5px;
		width: 100%;
		text-align: left
	}
}

.author .author__share svg {
	position: relative;
	top: 3px;
	margin-right: 4px;
	fill: #fff
}

.author .author__share .facebook,.author .author__share .twitter {
	display: inline;
	margin-left: 5px;
	padding: 6px 10px;
	border-radius: 3px;
	color: #fff;
	vertical-align: middle;
	font-weight: 700;
	font-size: 13px
}

@media only screen and (max-width:400px) {
	.author .author__share .facebook,.author .author__share .twitter {
		margin: 0 5px 10px 0
	}
}

@media only screen and (min-width:400px) and (max-width:1050px) {
	.author .author__share .facebook,.author .author__share .twitter {
		margin: 0 5px 10px 0
	}
}

.author .author__share .twitter {
	background: #4fafed
}

.author .author__share .facebook {
	background: #4361b3
}

.author .author__left {
	display: inline-block;
	width: 10%
}

@media only screen and (max-width:400px) {
	.author .author__left {
		width: 20%
	}
}

@media only screen and (min-width:400px) and (max-width:1050px) {
	.author .author__left {
		width: 20%
	}
}

.author .author__right {
	display: inline-block;
	width: 89%;
	vertical-align: top
}

@media only screen and (max-width:400px) {
	.author .author__right {
		width: 78%
	}
}

@media only screen and (min-width:400px) and (max-width:1050px) {
	.author .author__right {
		width: 78%
	}
}

.evidence {
	color: #222
}

.evidence,.star h3 {
	background-image: -webkit-linear-gradient(top,rgba(39,243,106,.15),rgba(39,243,106,.15));
	background-image: linear-gradient(to bottom,rgba(39,243,106,.15),rgba(39,243,106,.15))
}

.star h3 {
	display: inline;
	width: auto!important
}
