{% extends "base/frame.html" %}
{% block title %}SaintIC Team User Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uc/home.css') }}"/>
{% endblock %}
{% block body %}
<section class="main2 wrapper">
    <div class="site-wrapper">
      <div class="home">
        <!--头部-->
        <div class="home__header">
            <img src="{% if data.get('avatar') %}{{ data.get('avatar') }}{% else %}{{ url_for('static', filename='img/ads.jpg') }}{% endif %}"/>
            <h1>{% if data.get('cname') %}{{ data.get('cname') }}{% endif %}</h1><h2>{% if data.get('motto') %}{{ data.get('motto') }}{% endif %}</h2>
        </div>
        {% block content %}{% endblock %}
        <!--页脚-->
        {% include "base/footer.html" %}
      </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script language="javascript" type="text/javascript">
    var NavId=null;
    var As=document.getElementById('nav').getElementsByTagName('li');
    NavId = As[1];
    console.log(NavId);
    NavId.className='current';
</script>
{% endblock %}
