{% extends "base/frame.html" %}
{% block title %}SaintIC Team User Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uc/home.css') }}"/>
    <script src="{{ url_for('static', filename='js/jquery-1.9.0.js') }}" type="text/javascript"></script>
{% endblock %}
{% block body %}
<section class="main2 wrapper">
    <div class="site-wrapper">
      <div class="home">
        <!--头部-->
        <header class="home__header">
            <img src="{% if data.get('avatar') %}{{ data.get('avatar') }}{% else %}{{ url_for('static', filename='images/profile.jpg') }}{% endif %}"/>
            <h1>{% if data.get('cname') %}{{ data.get('cname') }}{% endif %}</h1><h2>{% if data.get('motto') %}{{ data.get('motto') }}{% endif %}</h2>
        </header>
        {% block content %}{% endblock %}
        <!--页脚-->
        {% include "base/footer.html" %}
      </div>
    </div>
</section>
{% endblock %}

